.navbar-be{
  background-color: white;
}
.navbar {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: center;
    a {
      z-index: 1;
    //  margin-left: 20px;
      img {
        width: 200px;
      }
    }
    h3 {
      flex: 1;
      text-align: center;
    }
}

div.title-wrapper {
  // position: absolute;
  // float: left;
  display: none;
  margin-bottom:5px;
  text-align: center;
  width: 100vw;
  h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 10px 0 5px;
    color: rgba(1, 42, 119, 1);
  }
}

.navbar-container {
  border-bottom: 1px solid #a0aec9;
  box-shadow: 2px 2px 3px 0px rgba(160, 174, 201, 0.3);
  margin-bottom: 1em;
}

@media only screen and (max-width: 768px) {
  div.title-wrapper {
    position: static;
  }
} 
