@import '~variables.scss';

mat-card {
  border: 1px solid $border-color;
  border-radius: 0 1em;
  margin: auto;
  max-width: 450px;
}
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: $box-shadow;
}
mat-form-field,
textarea {
  width: 100%;
}
mat-spinner{
  margin:auto;
}
.mat-raised-button:not([class*=mat-elevation-z]) {
	box-shadow: none;
}

.mat-raised-button{
	background-color: $main-blue;
	border-radius: .2rem;
	cursor: pointer;
    margin-top: 10px;
    width: 100%;
    padding: .25em;
    font-size: 1rem;
}
.mat-raised-button:hover {
	background-color: $main-blue-hover;
}