$body-color: #dfe3e8;
$main-blue: #084E8A;
$main-blue-hover: #023969;
$border-color: #a0aec9;
$border-line: #dfe3e8;


::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.toggleSidebarBtn {
  background-color: white;
  border: 1px solid #a8b5ce;
  border-radius: 5px;
  padding: 3px;
}
.side-bar {
    background-color: #f9f9f9;
    background: linear-gradient(45deg, #f9f9f9, #ffffff);
    box-shadow: 2px 2px 3px 0px rgba(160, 174, 201, 0.3);
    border: 1px solid $border-color;
    margin-bottom: 1em;
    padding: 2em 1.5em 1.5em;
    @media (min-width: 576px) {
        width: 300px;
    }
    .title {
        color: $main-blue;
        border-bottom: 1px solid $border-line;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 1em;
        padding-bottom: 5px;
        text-align: center;
        text-transform: uppercase;

    }
    .container-time-scale{
        border-bottom: 1px solid $border-line;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .toggle-btn{
        display: flex;
        margin-bottom: 10px;
        padding-bottom: 10px;
        .btn-size{
            flex: 1;
        }
    }

    .card-options{
        display: block;    
        margin-bottom: .75em;
        text-align: right;
    }
    .serie-title, .sub-title {
        color: $main-blue;
        display: block;
        font-size: small;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 3px;
    }
    .serie-title.first {
        border-radius: .2rem .2rem 0 0;
        margin: -1rem -1rem .75rem;
        text-align: left;
        &.TPH {
            background-color: rgba(80, 36, 143, 0.2);
            border-left: 3px solid #50248F;
            padding: .75em;
        }
        &.Concetrado {
            background-color: rgba(71, 193, 191, 0.2);
            border-left: 3px solid #47C1BF;
            padding: .75em;
        }
        &.Recuperación {
            background-color: rgba(244, 147, 66, 0.2);
            border-left: 3px solid #F49342;
            padding: .75em;
        }
    }
    .serie-option{
        border: 1px solid;
        border-radius: .25em;
        color: $main-blue;
        cursor: pointer;
        display: inline-block;
        font-size: .7rem;
        margin-left: .5em;
        min-width: 25px;
        min-height: 25px;
        padding: .3em .5em 0;
        text-align: center;
        text-transform: uppercase;
        &:hover {
            background-color: $body-color;
            color: $main-blue-hover;
        }

    }
    padding-bottom: 10px;
    margin-bottom: 10px;
    ::-webkit-scrollbar {
    width: 12px;
    }

    ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
  
}
.text-muted {
    color: #a0aec9!important;
}


 .form-check-label{
    color: #353535;
    font-size: .9rem;
    line-height: 2.2;
    margin-left: .6rem;
}
.form-check-input{
    margin-left: -1.75rem;
    height: 1.5rem;
    width: 1.5rem;
}

.show>.btn-primary.dropdown-toggle {
    background-color: $main-blue-hover;
}
.dropdown-menu {
    width: 100%;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #dfe3e8;
}
.card-body {
    padding: 1rem;
}
