.list-group{
    font-weight: 600;
    text-transform: uppercase;
    font-size: small;
    color: #022d77;
    box-shadow: 1px 1px 15px rgba(234, 234, 234, 0.7);
}

.legend-title{
    font-weight: 600;
    text-transform: uppercase;
    font-size: small;
    color: #022d77;
}

.legend-color{
    height: 12px;
    width: 12px;
    border: 1px solid rgba(2, 45, 119, 0.4);
    box-shadow: 1px 1px 15px rgba(234, 234, 234, 0.3);
    display: inline-block;
    margin-right: 8px;
}
.l1 {
    background-color: #663399;
}