@import '~variables.scss';

.authNavCol {
  background-color: white;
  border: 1px solid $border-color;
  border-radius: 0 1em;
  box-shadow: $box-shadow;
  margin: 1.5em;
  padding: 1.5em 2em;
}
.authNavCol  h1 {
	color: $main-blue;
	font-size: 2rem;
	text-align: center;
}
.authNavCol hr {
	margin-bottom: 1.4em;
	margin-top: 0;
    border-top: 4px solid rgb(223, 227, 232);
    width: 40%;
}
.authNavText {
	color: #4c525a;
	font-size: 1rem;
	line-height: 1.5;
	margin-bottom: 1em;
}
.authNavTitle{
  cursor: pointer;
  color: black;
}
.authNavGoBtn {
  margin-top: 10px;
  width: 100%;
}

@media (min-width: 767px) {
	.authNavCol {
	  	flex: 1 0 30%;
  		max-width: 30%;
	}
}