@import '~variables.scss';

.authNavCol {
  background-color: white;
  border: 1px solid $border-color;
  border-radius: 0 1em;
  box-shadow: $box-shadow;
  margin: 1.5em;
  padding: 1.5em 2em;
}
.authNavCol h1 {
	color: $main-blue;
	font-size: 2rem;
	text-align: center;
}
.authNavCol svg {
  max-width: 50px;
  vertical-align: text-bottom;
}
.authNavCol hr {
  border-top: 1px solid rgb(223, 227, 232);
	margin-bottom: 1.2em;
	margin-top: 1em;
}
.authNavText {
	color: #4c525a;
	font-size: 1rem;
	line-height: 1.5;
	margin-bottom: 1em;
  min-height: 100px;
}
.authNavTitle{
  cursor: pointer;
  color: black;
}
.authNavGoBtn {
  margin-top: 10px;
  width: 100%;
}

.svg-stroke {
  fill:none;
  stroke:currentColor;
  stroke-width:2;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}

@media (min-width: 767px) {
	.authNavCol {
	  	flex: 1 0 30%;
  		max-width: 30%;
	}
}