.visualizationMainWrapper{
  position: relative;
}
.toggleSidebarBtn{
  position: absolute;
  right: 40px;
  top: 2px;
  z-index: 10;
  cursor: pointer;
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 3px;
}
