.visualizationMainWrapper {
  position: relative;
}

.toggleSidebarBtn{
    background: #d34b5f;
    box-shadow: 2px 2px 3px 0px rgba(160, 174, 201, 0.3);
    color: #fff;
    cursor: pointer;
    font-size: small;
    letter-spacing: -0.025em;
    padding: 3px 10px 1px;
    position: absolute;
    left: 0;
    top: -10px;
    z-index: 10;
}
.toggleSidebarBtn:before {
    background-color: inherit;
    box-shadow: inherit;
    content: "";
    height: 100%;
    transform: skewX(-25deg);
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    z-index: -1;
}
.toggleSidebarBtn:after {
    background-color: inherit;
    content: "";
    height: 100%;
    transform: skewX(25deg);
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    z-index: -1;
}

.toggleSidebarBtn:hover {
  background-color: #bb394c;

}
.toggleLegendBtn {
  border: 1px solid;
  border-radius: 0.25em;
  color: #084e8a;
  cursor: pointer;
  font-size: small;
  letter-spacing: -0.025em;
  padding: 3px 10px 1px;
  position: absolute;
  right: 30px;
  top: 10px;
  z-index: 10;

}
.toggleLegendBtn:hover {
  background-color: #dfe3e8;
  color: #023969;
}
legend {
  max-width: 400px;
}
@media (min-width: 576px) {
  .main-container {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }
  .sidebar-container {
    max-width: 300px;
    padding-left: 0;

  }
  .content-container {
    margin: 0 auto;
    padding-right: 0;
  }
}
