/* You can add global styles to this file, and also import other style files */

body {
  background-color: #DFE3E8;
  margin: 0px;
  height: 100vh;
  color: #084E8A;
  font-family: 'Montserrat', sans-serif;
}

.axis {
    font: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.container-visualization{
    background-color: #f9f9f9;
    background: linear-gradient(45deg, #f9f9f9, #ffffff);
    border: 1px solid #a0aec9;
    margin-bottom: 1em;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis-title {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
}


.axis--x path {
    /*display: none;*/
}

.line {
    fill: none;
}

b.icon {
    margin-left: 5px;
}
.btn {
    padding: .75em;
}
.btn-default {
  background-color: #dfe3e8;
  border: 1px solid #a0aec9;
  color: #074e8c;
}
.btn-default:hover {
  background-color: #c9d2dc;
}
.btn-info {
  background-color: #20a763;
  border: 1px solid #20a763;
}
.btn-info:hover {
  background-color: #169455;  
}
.btn-primary {
    background-color: #084E8A;
    border-color: #084E8A;
}
.btn-primary.active, .btn-primary:hover {
    background-color: #023969;
}
.main-container {
  padding: 0;
}

.tooltip {
  display: none;
  width: 380px;
  transform: translateX(-190px);
  opacity: 0;
  background: rgba(244, 244, 244, 0.6);
  /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, rgba(244, 244, 244, 0.85), rgba(255, 255, 255, 0.95));
  background: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.85), rgba(244, 244, 244, 0.95));
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.85), rgba(244, 244, 244, 0.95));
  padding: 4px;
  padding-top: 8px;
  border-radius: 2px;
  border: 1px solid rgb(210, 210, 210);
  box-shadow: 1px 1px 20px rgba(210, 210, 210, 0.6);  
  color: black;
}

.dot-times{
    z-index: 10;
}

.text-no-data{
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    color: #022d77;
    margin-top: 24px;
    position: absolute;
}

@media (min-width: 576px) {
  .main-container {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }
  .sidebar-container {
    flex: 1 0 auto;
    max-width: 300px;
    padding-left: 0;
    width: 300px;
  }
  .content-container {
      flex: 3 0 auto;
      margin: 0 auto;
      padding: 0;
      width: auto;
  }
}