$body-color: #dfe3e8;
$main-blue: #022d77;
$main-blue-hover: #001e5a;
$border-color: #bec6d4;
$border-line: #dfe3e8;
$bg-red: #d34b5f;
$bg-red-hover: #bb394c;
$box-shadow: 2px 2px 3px 0px rgba(160, 174, 201, 0.3);