<div class="tooltip table-sm" (mouseenter) ="mouseEnterTooltip()" (mouseleave) ="mouseLeaveTooltip()">
    <h6 class="legend-title">{{ valuesTooltip.title }} - {{ valuesTooltip.date }}</h6>
    <div class="table" style="width: 100%" align="center">
        <tr>
            <th class="legend-title">Color</th>
            <th class="legend-title">Legend</th>
            <th class="legend-title">Value</th>
        </tr>
        <tr *ngFor = "let data of valuesTooltip.data">
            <td class="legend-body text-center"> <div class="legend-color" [ngStyle]="{'background-color': data.color}"></div> </td>
            <td class="legend-body">{{ data.legend }}</td>
            <td class="legend-body">{{ data.value }}</td>
        </tr>
    </div>
</div>
<div class="chart">
    <div #stackedlinechart id="stacked-line-chart"></div>
    <div></div>
    <div class="container-slider" *ngIf = "charts.length > 0">
    <nouislider [config]="someRange2config" [(ngModel)]="someRange"></nouislider>
    </div>                            
</div>
