@import '~variables.scss';

a { cursor: pointer; }
a:hover { color: $main-blue-hover; }

.nav{
    border-bottom: 1px solid $border-line;
    font-size: 1rem;
    justify-content: center;
    padding: .8em 0 0;
}

.nav-link.disabled {
	color: $border-color;
	cursor: not-allowed;
}

.nav-item{
    color: $main-blue;
    font-size: small;
    font-weight: 600;
    text-transform: uppercase;
}